*,
*::before,
*::after {
    box-sizing: inherit;
}


body {
    box-sizing: border-box;
    font-size: 16px;
    color: white;
    background: black;
    width: 100vw;
    height: 100vh;
    position: fixed;
}


.btn-reg {
    background-color: inherit;
    border: 2px solid #00FCBF;
    border-radius: 30px;
    color: #00FCBF;
    font: 400 20px 'gilroy';
    margin-left: 0.5em;
    padding: 5px 10px;
    cursor: pointer;
}

.btn-reg:hover {
    animation: fadeIn ease-in-out .75s forwards;
}


@keyframes fadeIn {
    0% {
        opacity: 1;
    }

    100% {
        background-color: rgb(102, 255, 178);
        color: black;
    }
}

footer {
    position: fixed;
    align-items: flex-end;
    background-color: #00FCBF;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 7px 0;
    z-index: 10;
}

.button-footer {
    border: solid 2px #29574C;
    background-color: #29574C;
    border-radius: 10px;
    width: 47%;
    height: 50px;
    color: white;
    font-family: 'tektur';
    font-size: 20px;
    cursor: pointer;
    padding: 2px;
}
