*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    height: 100vh;
    box-sizing: border-box;
    font-size: 1.1vw;
    flex-direction: column;
    color: whitesmoke;
    background: black url("/images/background.jpg") no-repeat center center / cover;
}

img {
    max-width: 100%;
}