main {
    padding: 22px;
}

.user-info {
    z-index: 1;
    background: linear-gradient(45deg, #29574C, black);
    display: flex;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 0 10px #00FCBF;
}

.user-info p {
    font-family: 'bebas neue';
    font-size: 32px;
    margin: 0;
    font-weight: 400;
    margin-left: 10px;
    margin-top: 5px;
}

.user-info img {
    width: 80px;
    height: 80px;
    margin: 7px;
    box-shadow: 0 0 5px #00FCBF;
    border-radius: 10px;
}

.x-info {
    height: 39em;
    margin-top: 20px;
    background: linear-gradient(90deg, #29574C, black);
    border-radius: 15px;
    box-shadow: 0 0 10px #00FCBF;
    padding: 15px 10px;
}

.x-info h2 {
    font: 500 20px 'gilroy';
    color: #00FCBF;
}

.x-info p {
    font: 16px 'gilroy';
}

.hr-dashed {
    margin: 20px 0;
    padding: 0;
    height: 0;
    border: none;
    border-top: 5px dashed #0DA07C;
}


.btn-teams {
    display: block;
    width: 100%;
    height: 50px;
    cursor: pointer;
    border-radius: 10px;
    background: #00FCBF;
    font: 500 16px 'gilroy';
    text-transform: uppercase;
}

.btn-reg {
    background-color: inherit;
    border: 2px solid #00FCBF;
    border-radius: 30px;
    color: #00FCBF;
    font: 400 20px 'gilroy';
    margin-left: 0.5em;
    padding: 5px 10px;
    cursor: pointer;
}

.btn-reg:hover {
    animation: fadeIn ease-in-out .75s forwards;
}


@keyframes fadeIn {
    0% {
        opacity: 1;
    }

    100% {
        background-color: rgb(102, 255, 178);
        color: black;
    }
}



