{% extends "base.html" %}

{% block title %} {{ title }} {% endblock %}
{% block styles %}
       <link rel="stylesheet" href="{{ url_for('static', path='/css/profile.css') }}">
{% endblock %}

{% block content %}
    <main>
        {% if user %}
            <div class="user-info">
                <p>Имя пользователя: {{ user.username }}</p>
            </div>
            <div class="x-info">
                <div style="display: flex; justify-content: center; align-items:center;">
                    <p style="color:#0DA07C">ПОРА ЗАПИСАТЬСЯ НА</p>
                    <button class="btn-reg" onclick="window.location.href='/hackathon'">ХАКАТОН</button>
                </div>
                <hr class="hr-dashed">
                <button class="btn-teams" onclick="window.location.href='/teams'">просмотр команд</button>
            </div>
        {% else %}
            <div class="user-info">
                Вы не зарегистрированы
                <button class="btn-reg" onclick="window.location.href='/reg'">Регистрация</button>
            </div>
        {% endif %}
    </main>
    <footer>
        <button class="button-footer" onclick="window.location.href='/hackathon'">Хакатон</button>
        <button class="button-footer" onclick="window.location.href='/profile'" style="background-color: #0f332a;">Профиль</button>
    </footer>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', path='js/profile.js') }}"></script>
{% endblock %}