{% extends "base.html" %}

{% block title %} {{ title }} {% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', path='/css/teams.css') }}">
{% endblock %}

{% block content %}

    <div class="teams-container">
        {% for team in teams %}
            <div class="team" onclick="window.location.href='/team/{id}?team_id={{ team.id }}'">
                <h2>{{ team.name }}</h2>
                <p>Тип: {{ 'открытая' if team.is_open else 'закрытая' }}</p>
            </div>
        {% endfor %}
    </div>
    <footer>
        <button class="button-footer" onclick="window.location.href='/hackathon'">Хакатон</button>
        <button class="button-footer" onclick="window.location.href='/profile'" style="background-color: #0f332a;">Профиль</button>
    </footer>
{% endblock %}

{% block scripts %}

{% endblock %}